.calculator {
    background-color: #000000;
    margin: 100px auto;
    padding: 60px;
    max-width: 500px;
}
.display{
    display: flex;
    justify-content: flex-end;
    height: 100px;
    margin-bottom: 20px;
    padding: 15px;
    padding-top: 10px;
    background-color: white;
    color: black;
    font-family: 'Press Start 2P';
    font-size: 70px;
    text-align: center;
    overflow: hidden;
    border-radius: 5px;
}
.calculator-buttons {
    background-color: #3d3c3c;
    text-align: center;
}
button {
    text-align: center;
    outline: none;
    cursor: pointer;
    background-color: #696969 ;
    color: #f5f5f5;
    font-family: 'Share Tech Mono', monospace;
    font-size: 50px;
    width: 90px;
    padding: 15px;
    margin: 20px;
    border-radius: 10px;
}
.button-plus, .button-minus, .button-divide, .button-multiplier, .button-equal, .button-clear-calculus, .button-backspace {
    color: #f5f5f5;
    background-color: orange;
}
.button-clear {
    color: #000000;
    background-color: #696969;
}
button:hover {
    background-color: #333333;
    transform: scale(1.1);
}
.button-plus:hover, .button-minus:hover, .button-divide:hover, .button-multiplier:hover, .button-equal:hover, .button-clear-calculus:hover, .button-backspace:hover {
    background-color: rgb(190, 124, 0) ;
}
